USE [RegistreCurricular]
GO
/****** Object:  Table [dbo].[CompetenciesSDA]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetenciesSDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
	[UUIDCompetencies] [uniqueidentifier] NOT NULL,
	[Worked] [bit] NOT NULL,
 CONSTRAINT [PK_CompetenciesSDA] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDASubjectsRelation]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDASubjectsRelation](
	[UUIDSDA] [uniqueidentifier] NOT NULL,
	[UUIDSubject] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SDASubjectsRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDSDA] ASC,
	[UUIDSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SDA]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDGroup] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Title] [varchar](30) NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_SDA] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[xxx]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[xxx]
AS
SELECT dbo.SDASubjectsRelation.UUIDSDA, dbo.SDASubjectsRelation.UUIDSubject, dbo.CompetenciesSDA.Worked, dbo.CompetenciesSDA.UUID
FROM     dbo.SDA INNER JOIN
                  dbo.SDASubjectsRelation ON dbo.SDA.UUID = dbo.SDASubjectsRelation.UUIDSDA LEFT OUTER JOIN
                  dbo.CompetenciesSDA ON dbo.SDASubjectsRelation.UUIDSubject = dbo.CompetenciesSDA.UUIDSubject
GO
/****** Object:  Table [dbo].[CompetenciesTPL]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetenciesTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[UUIDSubject] [uniqueidentifier] NOT NULL,
	[OrderBy] [tinyint] NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_CompetenciesTPL] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CriteriaTPL]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriaTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDCompetencie] [uniqueidentifier] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[OrderByMain] [tinyint] NOT NULL,
	[OrderBy] [tinyint] NOT NULL,
 CONSTRAINT [PK_CriteriaTPL] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CriteriaSDA]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriaSDA](
	[UUID] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
	[UUIDCriteria] [uniqueidentifier] NOT NULL,
	[Worked] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectsTPL]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectsTPL](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](70) NOT NULL,
	[TemplateName] [varchar](20) NOT NULL,
	[Type] [tinyint] NOT NULL,
 CONSTRAINT [PK_SubjectsTPL_1] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[CenterName] [varchar](100) NOT NULL,
	[CourseName] [varchar](20) NOT NULL,
	[Year] [nchar](10) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SDA_FullView]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SDA_FullView] AS
SELECT
    sda.UUID AS SDA_UUID,
    sda.Title AS SDA_Title,
    sda.Description AS SDA_Description,
    sda.CreatedAt AS SDA_CreatedAt,
    g.Name AS Group_Name,
    st.UUID AS Subject_UUID,
    st.Name AS Subject_Name,
    st.TemplateName AS Subject_Template,
    ct.UUID AS Competency_UUID,
    ct.Description AS Competency_Description,
    ct.OrderBy AS Competency_Order,
    csda.Worked AS Competency_Worked,
    cr.UUID AS Criteria_UUID,
    cr.Description AS Criteria_Description,
    cr.OrderByMain AS Criteria_MainOrder,
    cr.OrderBy AS Criteria_Order,
    crsda.Worked AS Criteria_Worked
FROM dbo.SDA sda
LEFT JOIN dbo.Groups g 
  ON sda.UUIDGroup = g.UUID
LEFT JOIN dbo.SDASubjectsRelation ssr 
  ON sda.UUID = ssr.UUIDSDA
LEFT JOIN dbo.SubjectsTPL st 
  ON ssr.UUIDSubject = st.UUID
LEFT JOIN dbo.CompetenciesTPL ct 
  ON st.UUID = ct.UUIDSubject
LEFT JOIN dbo.CompetenciesSDA csda 
  ON sda.UUID = csda.UUIDSDA 
  AND csda.UUIDCompetencies = ct.UUID
LEFT JOIN dbo.CriteriaTPL cr 
  ON ct.UUID = cr.UUIDCompetencie
LEFT JOIN dbo.CriteriaSDA crsda 
  ON sda.UUID = crsda.UUIDSDA 
  AND crsda.UUIDCriteria = cr.UUID;
GO
/****** Object:  View [dbo].[SDA_FullView2]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SDA_FullView2] AS
SELECT
    sda.UUID AS SDA_UUID,
    sda.Title AS SDA_Title,
    sda.Description AS SDA_Description,
    sda.CreatedAt AS SDA_CreatedAt,
    g.Name AS Group_Name,
    st.UUID AS Subject_UUID,
    st.Name AS Subject_Name,
    st.TemplateName AS Subject_Template,
    ct.UUID AS Competency_UUID,
    ct.Description AS Competency_Description,
    ct.OrderBy AS Competency_Order,
    csda.Worked AS Competency_Worked,
    cr.UUID AS Criteria_UUID,
    cr.Description AS Criteria_Description,
    cr.OrderByMain AS Criteria_MainOrder,
    cr.OrderBy AS Criteria_Order,
    crsda.Worked AS Criteria_Worked
FROM dbo.SDA sda
LEFT JOIN dbo.Groups g 
  ON sda.UUIDGroup = g.UUID
LEFT JOIN dbo.SDASubjectsRelation ssr 
  ON sda.UUID = ssr.UUIDSDA
LEFT JOIN dbo.SubjectsTPL st 
  ON ssr.UUIDSubject = st.UUID
LEFT JOIN dbo.CompetenciesTPL ct 
  ON st.UUID = ct.UUIDSubject
LEFT JOIN dbo.CompetenciesSDA csda 
  ON sda.UUID = csda.UUIDSDA 
  AND csda.UUIDCompetencies = ct.UUID
LEFT JOIN dbo.CriteriaTPL cr 
  ON ct.UUID = cr.UUIDCompetencie
LEFT JOIN dbo.CriteriaSDA crsda 
  ON sda.UUID = crsda.UUIDSDA 
  AND crsda.UUIDCriteria = cr.UUID;
GO
/****** Object:  View [dbo].[vFullSda3]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vFullSda3] AS
SELECT 
    sda.UUID AS SDA_UUID,
    sda.Title AS SDA_Title,
    sda.Description AS SDA_Description,
    sda.CreatedAt AS SDA_CreatedAt,
    g.Name AS Group_Name,
    st.UUID AS Subject_UUID,
    st.Name AS Subject_Name,
    st.TemplateName AS Subject_Template,
    ct.UUID AS Competency_UUIDTPL,        -- UUID de CompetenciesTPL
    csda.UUID AS Competency_UUID,           -- UUID de CompetenciesSDA (la relació)
    ct.Description AS Competency_Description,
    ct.OrderBy AS Competency_Order,
    csda.Worked AS Competency_Worked,
    cr.UUID AS Criteria_UUIDTPL,           -- UUID de CriteriaTPL
    crsda.UUID AS Criteria_UUID,           -- UUID de CriteriaSDA (la relació)
    cr.Description AS Criteria_Description,
    cr.OrderByMain AS Criteria_MainOrder,
    cr.OrderBy AS Criteria_Order,
    crsda.Worked AS Criteria_Worked
FROM dbo.SDA sda
LEFT JOIN dbo.Groups g 
    ON sda.UUIDGroup = g.UUID
LEFT JOIN dbo.SDASubjectsRelation ssr 
    ON sda.UUID = ssr.UUIDSDA
LEFT JOIN dbo.SubjectsTPL st 
    ON ssr.UUIDSubject = st.UUID
LEFT JOIN dbo.CompetenciesTPL ct 
    ON st.UUID = ct.UUIDSubject
LEFT JOIN dbo.CompetenciesSDA csda 
    ON sda.UUID = csda.UUIDSDA 
    AND csda.UUIDCompetencies = ct.UUID
LEFT JOIN dbo.CriteriaTPL cr 
    ON ct.UUID = cr.UUIDCompetencie
LEFT JOIN dbo.CriteriaSDA crsda 
    ON sda.UUID = crsda.UUIDSDA 
    AND crsda.UUIDCriteria = cr.UUID;
GO
/****** Object:  Table [dbo].[Centers]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centers](
	[Name] [varchar](100) NOT NULL,
	[Municipality] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Centers] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Name] [varchar](20) NOT NULL,
	[TemplateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCenterRelation]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCenterRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[CenterName] [varchar](100) NOT NULL,
	[Role] [tinyint] NULL,
 CONSTRAINT [PK_UserCenterRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[CenterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroupRelation]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDGroup] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserGroupRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[UUIDGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UUID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[UserRole] [tinyint] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSdaRelation]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSdaRelation](
	[UUIDUser] [uniqueidentifier] NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserSdaRelation] PRIMARY KEY CLUSTERED 
(
	[UUIDUser] ASC,
	[UUIDSDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VectorsSDA]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VectorsSDA](
	[NameVector] [varchar](20) NOT NULL,
	[UUIDSDA] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_VectorsSDA] PRIMARY KEY CLUSTERED 
(
	[NameVector] ASC,
	[UUIDSDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VectorsTPL]    Script Date: 02/04/2025 17:33:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VectorsTPL](
	[Name] [varchar](20) NOT NULL,
	[TemplateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_VectorsTPL] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Centers] ([Name], [Municipality]) VALUES (N'Bosc De La Coma', N'Olot')
INSERT [dbo].[Centers] ([Name], [Municipality]) VALUES (N'Petit Plançó', N'Olot')
GO
INSERT [dbo].[CompetenciesTPL] ([UUID], [Type], [UUIDSubject], [OrderBy], [Description]) VALUES (N'6e3dc4a6-c316-4b23-969c-0046296c70a7', 0, N'cc6d8eeb-28b9-4c54-b148-9e44ff7e5392', 4, N'Educació emocional')
INSERT [dbo].[CompetenciesTPL] ([UUID], [Type], [UUIDSubject], [OrderBy], [Description]) VALUES (N'64552c01-7598-49fa-8207-010185f3b111', 1, N'a0ef2142-7ccf-4085-a769-a10e961e8f96', 3, N'Experimentar i crear amb les possibilitats del so, la imatge, el cos i els mitjans digitals i multimodals, mitjançant activitats i experiències que incorporin l’aprenentatge autoregulat per expressar i comunicar coneixements, idees, sentiments i emocions.')
INSERT [dbo].[CompetenciesTPL] ([UUID], [Type], [UUIDSubject], [OrderBy], [Description]) VALUES (N'c6eaae2f-f61d-4caf-9f4b-01664ad84098', 1, N'e725860a-5d47-42a3-96eb-6d7f26fdbb66', 2, N'Conèixer els riscos més rellevants per a la salut i començar a adoptar hàbits saludables per al seu benestar físic i mental.')
GO
INSERT [dbo].[Courses] ([Name], [TemplateName]) VALUES (N'1r', N'1r2n')
INSERT [dbo].[Courses] ([Name], [TemplateName]) VALUES (N'2n', N'1r2n')
INSERT [dbo].[Courses] ([Name], [TemplateName]) VALUES (N'3r', N'3r4t')
GO
INSERT [dbo].[CriteriaTPL] ([UUID], [UUIDCompetencie], [Description], [OrderByMain], [OrderBy]) VALUES (N'75cd16d2-4255-4d98-a190-00185ca54fd2', N'a950e7a5-ce17-47ad-b1a4-49e4430f0d6c', N'Interpretació de les accions de les persones com a subjectes en la història, dels diferents grups socials, relacions, conflictes, creences i condicionants per entendre que el present és el resultat de les accions del passat.', 7, 4)
INSERT [dbo].[CriteriaTPL] ([UUID], [UUIDCompetencie], [Description], [OrderByMain], [OrderBy]) VALUES (N'6bfbca4b-1b60-4802-90c3-00287d0ae2e0', N'497268a0-2402-44a9-8709-8adefe7f0470', N'Comunicar els resultats d''un procés d''investigació, individual o grupal, realitzat de forma acompanyada, sobre temes propers i d’interès personal.', 6, 2)
INSERT [dbo].[CriteriaTPL] ([UUID], [UUIDCompetencie], [Description], [OrderByMain], [OrderBy]) VALUES (N'db963c51-aff6-455f-8e50-007379c4e6a1', N'0c85348f-4b42-4f52-80c5-c704bd05561c', N'Aplicar les habilitats socials que contribueixen a establir relacions de convivència a l’aula, al ntre i a l’entorn proper.', 1, 3)
GO
INSERT [dbo].[Groups] ([UUID], [Name], [CenterName], [CourseName], [Year]) VALUES (N'b07b61d6-c14b-4303-b329-12d12ef6956a', N'1r A', N'Bosc De La Coma', N'1r', N'23-24     ')
INSERT [dbo].[Groups] ([UUID], [Name], [CenterName], [CourseName], [Year]) VALUES (N'72f3f579-392f-4a11-9409-5d5fef493412', N'2n A', N'Bosc De La Coma', N'1r', N'2025      ')
GO
INSERT [dbo].[SubjectsTPL] ([UUID], [Name], [TemplateName], [Type]) VALUES (N'267a57c5-1ad6-4f57-ba37-023e8bc12793', N'Llengua catalana i castellana', N'5e6e', 1)
INSERT [dbo].[SubjectsTPL] ([UUID], [Name], [TemplateName], [Type]) VALUES (N'aa80d37e-a8c2-4914-808c-052982b20160', N'Educació Artística', N'5e6e', 1)
INSERT [dbo].[SubjectsTPL] ([UUID], [Name], [TemplateName], [Type]) VALUES (N'7221611a-7fdf-4d3b-993c-142286e9eab5', N'Coneixement del medi natural, social i cultural', N'3r4t', 1)
GO
INSERT [dbo].[UserCenterRelation] ([UUIDUser], [CenterName], [Role]) VALUES (N'77ac4633-f523-456e-b697-baaa161f173c', N'Bosc De La Coma', 1)
INSERT [dbo].[UserCenterRelation] ([UUIDUser], [CenterName], [Role]) VALUES (N'77ac4633-f523-456e-b697-baaa161f173c', N'Petit Plançó', 1)
GO
INSERT [dbo].[UserGroupRelation] ([UUIDUser], [UUIDGroup]) VALUES (N'77ac4633-f523-456e-b697-baaa161f173c', N'b07b61d6-c14b-4303-b329-12d12ef6956a')
INSERT [dbo].[UserGroupRelation] ([UUIDUser], [UUIDGroup]) VALUES (N'77ac4633-f523-456e-b697-baaa161f173c', N'72f3f579-392f-4a11-9409-5d5fef493412')
GO
INSERT [dbo].[Users] ([UUID], [Name], [Email], [UserRole]) VALUES (N'77ac4633-f523-456e-b697-baaa161f173c', N'Nil Castilla Galimany', N'ncastilla262@boscdelacoma.cat', 1)
INSERT [dbo].[Users] ([UUID], [Name], [Email], [UserRole]) VALUES (N'b8ac15fb-58dd-4c8f-acf8-d3a9891e65f0', N'Nil Castilla', N'nilcastilla@gmail.com', 1)
GO
ALTER TABLE [dbo].[CompetenciesSDA] ADD  CONSTRAINT [DF_CompetenciesSDA_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[CompetenciesTPL] ADD  CONSTRAINT [DF_CompetenciesTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[CriteriaSDA] ADD  CONSTRAINT [DF_CriteriaSDA_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[CriteriaTPL] ADD  CONSTRAINT [DF_CriteriaTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[SDA] ADD  CONSTRAINT [DF_SDA_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubjectsTPL] ADD  CONSTRAINT [DF_SubjectsTPL_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UUID]  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[CompetenciesSDA]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesSDA_CompetenciesTPL] FOREIGN KEY([UUIDCompetencies])
REFERENCES [dbo].[CompetenciesTPL] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesSDA] CHECK CONSTRAINT [FK_CompetenciesSDA_CompetenciesTPL]
GO
ALTER TABLE [dbo].[CompetenciesSDA]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesSDA] CHECK CONSTRAINT [FK_CompetenciesSDA_SDA]
GO
ALTER TABLE [dbo].[CompetenciesTPL]  WITH CHECK ADD  CONSTRAINT [FK_CompetenciesTPL_SubjectsTPL] FOREIGN KEY([UUIDSubject])
REFERENCES [dbo].[SubjectsTPL] ([UUID])
GO
ALTER TABLE [dbo].[CompetenciesTPL] CHECK CONSTRAINT [FK_CompetenciesTPL_SubjectsTPL]
GO
ALTER TABLE [dbo].[CriteriaSDA]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaSDA_CriteriaTPL] FOREIGN KEY([UUIDCriteria])
REFERENCES [dbo].[CriteriaTPL] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaSDA] CHECK CONSTRAINT [FK_CriteriaSDA_CriteriaTPL]
GO
ALTER TABLE [dbo].[CriteriaSDA]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaSDA] CHECK CONSTRAINT [FK_CriteriaSDA_SDA]
GO
ALTER TABLE [dbo].[CriteriaTPL]  WITH CHECK ADD  CONSTRAINT [FK_CriteriaTPL_CompetenciesTPL] FOREIGN KEY([UUIDCompetencie])
REFERENCES [dbo].[CompetenciesTPL] ([UUID])
GO
ALTER TABLE [dbo].[CriteriaTPL] CHECK CONSTRAINT [FK_CriteriaTPL_CompetenciesTPL]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Centers] FOREIGN KEY([CenterName])
REFERENCES [dbo].[Centers] ([Name])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Centers]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Courses] FOREIGN KEY([CourseName])
REFERENCES [dbo].[Courses] ([Name])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Courses]
GO
ALTER TABLE [dbo].[SDA]  WITH CHECK ADD  CONSTRAINT [FK_SDA_Groups] FOREIGN KEY([UUIDGroup])
REFERENCES [dbo].[Groups] ([UUID])
GO
ALTER TABLE [dbo].[SDA] CHECK CONSTRAINT [FK_SDA_Groups]
GO
ALTER TABLE [dbo].[SDA]  WITH CHECK ADD  CONSTRAINT [FK_SDA_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[SDA] CHECK CONSTRAINT [FK_SDA_Users]
GO
ALTER TABLE [dbo].[SDASubjectsRelation]  WITH CHECK ADD  CONSTRAINT [FK_SDASubjectsRelation_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[SDASubjectsRelation] CHECK CONSTRAINT [FK_SDASubjectsRelation_SDA]
GO
ALTER TABLE [dbo].[SDASubjectsRelation]  WITH CHECK ADD  CONSTRAINT [FK_SDASubjectsRelation_SubjectsTPL] FOREIGN KEY([UUIDSubject])
REFERENCES [dbo].[SubjectsTPL] ([UUID])
GO
ALTER TABLE [dbo].[SDASubjectsRelation] CHECK CONSTRAINT [FK_SDASubjectsRelation_SubjectsTPL]
GO
ALTER TABLE [dbo].[UserCenterRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserCenterRelation_Centers] FOREIGN KEY([CenterName])
REFERENCES [dbo].[Centers] ([Name])
GO
ALTER TABLE [dbo].[UserCenterRelation] CHECK CONSTRAINT [FK_UserCenterRelation_Centers]
GO
ALTER TABLE [dbo].[UserCenterRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserCenterRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserCenterRelation] CHECK CONSTRAINT [FK_UserCenterRelation_Users]
GO
ALTER TABLE [dbo].[UserGroupRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupRelation_Groups] FOREIGN KEY([UUIDGroup])
REFERENCES [dbo].[Groups] ([UUID])
GO
ALTER TABLE [dbo].[UserGroupRelation] CHECK CONSTRAINT [FK_UserGroupRelation_Groups]
GO
ALTER TABLE [dbo].[UserGroupRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserGroupRelation] CHECK CONSTRAINT [FK_UserGroupRelation_Users]
GO
ALTER TABLE [dbo].[UserSdaRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserSdaRelation_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[UserSdaRelation] CHECK CONSTRAINT [FK_UserSdaRelation_SDA]
GO
ALTER TABLE [dbo].[UserSdaRelation]  WITH CHECK ADD  CONSTRAINT [FK_UserSdaRelation_Users] FOREIGN KEY([UUIDUser])
REFERENCES [dbo].[Users] ([UUID])
GO
ALTER TABLE [dbo].[UserSdaRelation] CHECK CONSTRAINT [FK_UserSdaRelation_Users]
GO
ALTER TABLE [dbo].[VectorsSDA]  WITH CHECK ADD  CONSTRAINT [FK_VectorsSDA_SDA] FOREIGN KEY([UUIDSDA])
REFERENCES [dbo].[SDA] ([UUID])
GO
ALTER TABLE [dbo].[VectorsSDA] CHECK CONSTRAINT [FK_VectorsSDA_SDA]
GO
ALTER TABLE [dbo].[VectorsSDA]  WITH CHECK ADD  CONSTRAINT [FK_VectorsSDA_VectorsTPL] FOREIGN KEY([NameVector])
REFERENCES [dbo].[VectorsTPL] ([Name])
GO
ALTER TABLE [dbo].[VectorsSDA] CHECK CONSTRAINT [FK_VectorsSDA_VectorsTPL]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SDA"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "SDASubjectsRelation"
            Begin Extent = 
               Top = 33
               Left = 293
               Bottom = 152
               Right = 487
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CompetenciesSDA"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 224
               Right = 901
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xxx'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'xxx'
GO
